<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<head>
	    <title>Tambah Pustakawan</title>
	    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
	    <nav th:replace="fragments/fragment :: navbar"></nav>
	    <br>
	    <div class="container-fluid">	      
	        <div class="row">
	            <div class="col-md-4">
	            	 <div class="card">
	            	 <b><center><div text-align = "center" class="card-header">Tambah Pustakawan</div></center></b>
	                    <div class="card-body"> 
	                        <form th:action="@{/pustakawan/tambah}" th:object="${pustakawan}" method="POST">
	                            Nama: <br>
	                            <input type="text" name="nama" class="form-control"/>
	                            <br>
	                            <div class="form-row">
	                            <div class="col">
	                            Tempat Lahir: <br>
	                            <input type="text" name="tempat_lahir" class="form-control"/></div>
	                            <br><div class="col">
	                            Tanggal Lahir: <br>
	                            <input type="date" name="tanggal_lahir" class="form-control"/></div></div>
	                            <br>
	                            Jenis Kelamin: <br>
	                            <div class="form-check form-check-inline">
	                            	<input class="form-check-input" type="radio" name="jenis_kelamin" id="jk1" value="1">
  									<label class="form-check-label" for="jk_lk">Laki-Laki</label>
  								</div>
  								<div class="form-check form-check-inline">
	  								<input class="form-check-input" type="radio" name="jenis_kelamin" id="jk2" value="2">
	  								<label class="form-check-label" for="jk_pr">Perempuan</label>
	  							</div>
	                            <br><br>                          
	                            Spesialisasi: <br>
	                            <div class="form-row">
	                            	<div class="form-group col-md-9">
			                            <select class="form-control" id= "spesialisasi" name="spesialisasi" th:field="*{pustakawanSpesialisasi}">
			                            	<option value="0">-Select-</option>
											<option th:each="spesialisasi : ${spesialisasi}" 
												th:value="${spesialisasi.id}" 
												th:text="${spesialisasi.nama}">
											</option>
										</select>
									</div>
									<div class="form-group col-md-2">
										  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Tambah</button>	
									</div>	
  								</div>								
	                           <br>
	                            <button type="submit" class="btn btn-success" name="submit">Simpan</button>
	                            <br>
	                        </form>
	                     </div>
                	</div>		        
	            </div>
	            <div class="col-md-4"></div>
	        </div>        
	    </div>
	    
	    <div class="container">

      
    </div>
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Tambah Spesialisasi</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Spesialisasi: <br>
	                            <div class="form-row">
	                            	<div class="form-group col-md-12">
			                            <select class="form-control" id= "spesialisasi" name="spesialisasi" th:field="*{list}">
			                            	<option value="0">-Select-</option>
											<option th:each="spesialisasi : ${spesialisasi}" 
												th:value="${spesialisasi.id}" 
												th:text="${spesialisasi.nama}">
											</option>
										</select>
									</div>
  								</div>	
        </div>
        
        <!-- Modal footer -->
         <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Tambah</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
  
</div>
	</body>
</html>