<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Daftar Perpustakaan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>

           <div class="container">
           <div class="container">
           <div class="container">
           <div class="container">
           <div class="container">
           <br>   
		<h4 align="center">DAFTAR PERPUSTAKAAN</h4>
		<br>
        <div class="row">
            <br> 			
                <div class="table-responsive">	                  
                      	<table class="table table-striped">
						<thead class="thead-dark">
						<tr>
							<th width="1%" style="text-align: center">No</th>
							<th width="20%" style="text-align: center">Nama</th>
							<th width="20%" style="text-align: center">Lokasi</th>
							<th width="10%"style="text-align: center">Action</th>
						</tr>
						</thead>
						
					 	<tbody>
							<tr  th:each="perpustakaan, i : ${perpustakaan}"> 
								<td align=Center th:text="${i.count}"></td>
								<td th:text="${perpustakaan.nama}"></td>
								<td th:text="${perpustakaan.lokasi}"></td>
								<td align=Center style="padding: 10px;">
								<a th:href="@{'/perpustakaan/delete/' + ${perpustakaan.id}}">
								<input type="button" class="btn btn-danger" value = "Hapus"></a>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
					<form th:action = "@{/perpustakaan/tambah}">
						<button type = "submit" class="btn btn-primary">Tambah Perpustakaan</button>
					</form> 
					<br>
					</div>
					</div>
					</div>
				</div>	
        	</div>
    	</div>        
	</div>
</body>
</html>