<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hapus Pustakawan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	    <br>
	    <div class="container-fluid">	      
	        <div class="row">
	            <div class="col-md-4">
	            	 <div class="card">
	            	 
	                    <div class="card-body"> 
	                    	<div class="form-group">
						      <div class="alert alert-danger" role="alert">
						      	<center><h4><b>Hapus Data?</b></h4></center>
						      	</div>
						      <form th:action="@{/jadwal/delete/{id} (id=${pustakawan.id})}" th:object="${jadwal}" method="POST">
						      	<b>Nama Pustakawan:</b><br>
								<input class="form-control" type="text" th:field="${pustakawan.nama}" readonly>
								<br>
								<b>Nama Perpustakaan:</b><br>
								<input class="form-control" type="text"  readonly>
								<br>
	                            <b>Hari:</b><br>
	                            <input class="form-control" type="text" readonly>
								<br><br>	
	                           <td style="padding: 10px;">
								<a th:href="@{'/jadwal/tambah/{nip}' (nip=${pustakawan.nip})}">
				                <input type="button" class="btn btn-primary" value = "Batal"></a>
								<button type="submit" class="btn btn-danger" name="submit">Hapus</button>
								</td>
	                            <br>
	                            </form>
							</div>
	                     </div>
                	</div>		        
	            </div>
	            <div class="col-md-4"></div>
	        </div>        
	    </div>

</body>
</html>