<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Tambah Perpustakaan</title>
	    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
	    <nav th:replace="fragments/fragment :: navbar"></nav>
	    <br>
	    <div class="container-fluid">	      
	        <div class="row">
	            <div class="col-md-4">
	            	 <div class="card">
	            	 <div class="card-header"><center><b>Tambah Perpustakaan</b></center></div>
	                    <div class="card-body"> 
	                        <form th:action="@{/perpustakaan/tambah}" th:object="${perpustakaan}" method="POST">
	                            Nama: <br>
	                            <input type="text" name="nama" class="form-control"/>
	                            <br>
	                            Lokasi: <br>
	                            <input type="text" name="lokasi" class="form-control"/>
	                            <br>
	                            <br>
	                            <button type="submit" class="btn btn-success" name="submit">Submit</button>
	                            <br>
	                            </form>
	                         </div>
	                     </div>
					</div>
	            <div class="col-md-4"></div>
	        </div>        
	    </div>
	</body>
</html>